<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>872110222991-qih95enj6m3pgpcg79i5o90n6gm37rkl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.872110222991-qih95enj6m3pgpcg79i5o90n6gm37rkl</string>
	<key>API_KEY</key>
	<string>AIzaSyDBwCJIa7n4MCOJ96HrAAB6Lo4PsTMPE8U</string>
	<key>GCM_SENDER_ID</key>
	<string>872110222991</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Sure.FoodTracker</string>
	<key>PROJECT_ID</key>
	<string>foodtracker-f788c</string>
	<key>STORAGE_BUCKET</key>
	<string>foodtracker-f788c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:872110222991:ios:54123b9c3ba4de0d</string>
	<key>DATABASE_URL</key>
	<string>https://foodtracker-f788c.firebaseio.com</string>
</dict>
</plist>